body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.50;
    color: #666666;
    margin: 0;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

.content {
    display: flex;
    justify-content: center;
    /* width: 90%; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.social {
    height: 35px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-bottom: 1px solid #eaeaea;
}

.social .social-content {
    width: 1200px;
    margin: 0;
    position: relative;
}

.social .social-content .icon {
    display: block;
    width: 70%;
}

.social .social-content .translate {
    width: 30%;
    position: absolute;
    top: 0;
    right: -263px;
}

.social .social-content .icon ul {
    padding: 0px;
}

.social .social-content ul li a {
    color: #999999;
}

.social .social-content ul li a {
    padding-right: 12px;
}

.social .social-content .icon ul li {
    border-right: 1px solid #e3e3e3;
    padding: 0px;
}

.twitter i:hover {
    color: #0099ff;
}

.skype i:hover {
    color: #0099ff;
}

.linkedin i:hover {
    color: #003d99;
}

.twitter i:hover~a {
    background-color: #ffffff;
}

.dropbtn {
    color: #999999;
    border: none;
    height: 33px;
    background-color: #f1f1f1;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #999999;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: #e84c3d
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
}

.active {
    color: #e84c3d;
}

li {
    display: inline;
}

header a {
    text-decoration: none;
    color: #666666;
    background-color: transparent;
    font-weight: bold;
}

.menu a {
    padding: 14px 16px;
}

#menu-hr {
    background-color: #FFFFFF;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-around;
    /* width: 90%; */
}


/* Fixed Header */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

a:hover {
    color: #e84c3d;
}

.menu-hr-content {
    width: 1200px;
    margin-left: 0;
    position: relative;
}

#menu-hr .menu-hr-content .header-left {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu-hr .menu-hr-content .menu {
    margin-top: 33px;
    position: absolute;
    top: 0;
    right: 0;
}

.icon {
    display: none;
}

header .solugan {
    font-style: italic;
}

.main-content .form {
    width: 50%;
}

label {
    font-weight: bold;
}

textarea {
    width: 90%;
    height: 130px;
    margin: 10px 0px 10px 0px;
    padding-left: 8px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.main-content .map {
    width: 100%;
}

.form .input {
    width: 90%;
    height: 40px;
    margin: 10px 0px 10px 0px;
    padding-left: 8px;
    font-size: 15px;
}

.form-parent {
    position: relative;
}

.form .btn-send {
    text-align: center;
    width: 140px;
    height: 40px;
    background-color: #e84c3d;
    color: #ffffff;
    font-weight: bold;
}

.form-control-feedback {
    position: absolute;
    top: 41px;
    right: 87px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.info {
    margin-left: 30px;
    margin-top: 100px;
    padding-left: 50px;
    border-left: 1px solid #999999;
    height: 250px;
}

.info i {
    margin-top: 15px;
}

.info a {
    color: #e84c3d;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        position: relative;
    }
    .topnav a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav ul li a {
        display: none;
        text-align: left;
    }
}

.footer .banner {
    background-color: #f1f1f1;
    width: 100%;
    opacity: 80%;
    height: 120px;
    padding-top: 18px;
}

.footer .banner-content {
    width: 1400px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.footer .banner .banner-content .image {
    width: 50%;
    position: absolute;
    left: 177px;
}

.footer .banner .banner-content .image img {
    margin-left: 50px;
    padding-right: 20px;
}

.footer .banner .banner-content .solugan {
    color: #999999;
    font-weight: 18px;
    position: absolute;
    top: 0;
    right: 0;
}

.main-footer {
    height: 358px;
    color: #999999;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #262626;
}

.bottom-footer {
    background-color: #000000;
    color: #666666;
    height: 35px;
}

.htactive {
    float: left;
    width: 20%;
}

.contact {
    float: left;
    width: 20%;
}

.htactive ul {
    margin-top: 30px;
    margin-left: -46px;
}

.htactive a {
    height: 100%;
    width: 100%;
    color: #666666;
}

.htactive li {
    text-align: center;
    padding: 0.9em 0.5em;
    background: #FFFFFF;
    color: #666666;
    height: 20px;
    line-height: 15px;
    background-color: #262626;
    border: 1px solid #666666;
    border-radius: 50%;
}

.htactive li span {
    width: 25px;
    height: 25px;
}

.htactive li:hover a {
    color: #FFFFFF;
}

.footer .facebook:hover {
    background: #003d99;
}

.footer .twitter:hover {
    background: #0099ff;
}

.footer .skype:hover {
    background: #0099ff;
}

.footer .linkin:hover {
    background: #003d99;
}

.footer .google-plus:hover {
    background: #ff3333;
}

.link {
    width: 15%;
}

.link ul {
    display: inline;
}

.link ul {
    width: 250px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.link li {
    width: auto;
    height: 20px;
    line-height: 20px;
    padding: 0 1em;
}

.link li a {
    text-decoration: none;
    font-weight: bold;
    color: #999999;
    display: block;
}

.link li a:hover {
    color: #ff3333;
    padding-left: 7px;
    border-radius: 10px;
}

.connect {
    float: right;
}

.link li a::after {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    right: -130px;
}

.link li {
    position: relative;
}

.contact a {
    color: #e84c3d;
}

.htactive a {
    color: #e84c3d;
}

.bottom-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 18px;
}

.menu-bottom a {
    color: #666666;
    padding-left: 5px;
}

.menu-bottom a:hover {
    color: #e84c3d;
}

.menu-bottom a::after {
    content: "\007C";
    padding-left: 5px;
}

#scroll-top {
    color: #fff;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #000000;
    z-index: 1005;
    display: none;
}